body {
  font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
  color: #69f0ae !important;
   background-color: transparent;
}

h1 {
    font-size: 25px;
}

h2{
  font-size: 20px;
}

.nav-wrapper .brand-logo {
    height: 57px;
    width: 266px;
}

ul li {
    font-size: 16px;
}

.jill li a{
    color: #546e7a;
}

.nav-wrapper{
  position: relative;
  top:2;
}

.brand-logo {
  position: relative;
  left: 20;
}



/* Uncomment if image on main carousel should be responsive
.sliderone .slides {
   background-color: transparent;
   margin: 0;
   height: 400px;
}

.sliderone .slides li img {
   height: 100%;
   width: 100%;
   background-position: center;
   background-size:100% 100%;
   background-repeat: no-repeat;
}*/

.slidertwo .slides li img{
  height: 200px;
  width: 200px;
}

nav{
  height: 75px;
}

label{
  font-size: 20px !important;
  color: #00e676 !important;
}
